# Ignore node_modules (third-party dependencies)
node_modules/

# Ignore environment files (store API keys, secrets, etc.)
.env

# Ignore OS & Editor-specific files
.DS_Store
.vscode/

# Ignore build and output directories
dist/
build/